.product {
  .hero {
    height: auto;
    margin-bottom: 90px;
    min-height: 180px;
    background: url(../images/dest/decor/header-guys.png) center center / 21%
        no-repeat,
      url(../images/dest/bg/hero.jpg) center / cover no-repeat no-repeat;
  }
  .lined-text {
    font-family: $titleFont;
    font-weight: bold;
    font-size: 27px;
    &__word {
      padding: 3px 7px 3px;
      margin-top: -6px;
      margin-right: 250px;
      &:nth-child(even) {
        margin-left: 4px;
      }
    }
  }
  .article {
    margin-bottom: 90px;
  }
  .item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 670px;
    background: $bgyellow;
    border: 10px solid $bgyellow;
    &__image {
      text-align: center;
      width: 640px;
    }
    &__info {
      width: 640px;
      background: $bg;
      height: 100%;
      display: block;
    }
  }
}
